aaa_base
aaa_elflibs
attr
bash
bin
coreutils
cxxlibs
devs
e2fsprogs
elvis
etc
grep
gzip
kernel-firmware
kernel-huge
kernel-modules
kernel-modules-smp
kmod
less
lilo
openssl-solibs
pkgtools
procps
sed
shadow
sharutils
sysvinit
sysvinit-scripts
tar
udev
util-linux
xz
